{% block form_row %}
{% spaceless %}
<div class="form-group">
	{#{{ form_label(form, label|default(null),{ 'label_attr': {'class': 'col-md-4 control-label'} }) }}#}
	<div class="col-md-12">
	    {{ form_widget(form,{ 'attr': {'class': 'form-control'} }) }}
	</div>
</div>
{% endspaceless %}
{% endblock form_row %}