{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname != 'addon' %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block form_addon %}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'addon' %}
            <span class="input-group-addon">{{ attrvalue|raw }}</span>
        {% endif %}
    {% endfor %}
{% endblock form_addon %}

{% block form_row %}
{% spaceless %}
<div class="form-group">
	<div class="col-md-12">
	    <div class="input-group">
            {{ block('form_addon') }}{{ form_widget(form,{ 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
</div>
{% endspaceless %}
{% endblock form_row %}