    <footer role="layout">
        <div class="container">  
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="footer-top">
                        <div class="footer-logo"></div>
                        <div class="footer-title">
                            GeekCoding.net<br />
                            敏捷编程教学实践平台
                        </div>
                    </div>
                        <p>
                           Copyright ©2012-2013 Geekcoding.net, All Rights Reserved - 浙ICP备13005404号-2
                        </p>
                </div>
                <div class="col-md-5">
                    <div class="footer-link">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">网站简介</a></li>
                            <li><a href="#">服务条款</a></li>
                            <li><a href="#">投资合作</a></li>
                            <li><a href="#">广告服务</a></li>
                            <li><a href="#">意见反馈</a></li>
                        </ul>
                    </div>
                    <div class="footer-link">
                        <h4>合作伙伴</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">网站简介</a></li>
                            <li><a href="#">服务条款</a></li>
                            <li><a href="#">投资合作</a></li>
                            <li><a href="#">广告服务</a></li>
                            <li><a href="#">意见反馈</a></li>
                        <ul>
                    </div>
                </div>
            </div>
    </footer>
    