.lessons{
	text-decoration: none;
	border:none;
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: 15px;
	padding: 0;
	.box-shadow(1px 1px 3px rgba(0,0,0,0.45));
	transition:all .5s ease;
	position: relative;
	&:hover,&:focus{
		.box-shadow(@shadow: 1px 1px 3px rgba(0,0,0,0.9));
		text-decoration: none;
		> .startlearn{
			#geekcoding > .background-color(#000,50%);
			> .flat-btn{
				.opacity(1);
			}
		}
	}
	> img{
		border-radius: 4px 4px 0 0;
		width: 100%;
		height: 150px;
	}
	> .startlearn{
		position: absolute;
		border-radius: 4px 4px 0 0;
		margin: 0;
		height: 150px;
		width: 100%;
		#geekcoding > .background-color(#000,0%);
		transition:all .5s ease;
		text-align: center;
		> .flat-btn{
			transition:all .5s ease;
			margin-top: 75px - @padding-base-vertical/2 - @font-size-base/2 - @line-height-base/2;
			.opacity(0);
		}
	}
	> .caption{
		> dl{
				padding: 0;
				margin: 0;
				> dt{
					margin:0;
					padding: 0;
					font-size: @font-size-base;
					font-weight: 550;
				}
				> dd{
					font-size: @font-size-small;
					font-weight: 400;
					color: #666;
				}
			}
		.tools{
			width: 100%;
			height: 30px;
			padding: 7px 0 0 0;
			margin: 5px auto 0 auto;
			#geekcoding > .border-top(solid,1px,#ccc,0.5);
			> .pull-left{
				width: 40%;
				> span{
					float: left;
				}
			}
			> .pull-right{
				width: 60%;
				> span{
					float: right;
				}
			}
			img{
				float: left;
				width: 20px;
				height: 20px;
				#geekcoding > .border-radius(3px);
			}
			span{
				margin-left: 3px;
				padding-top: 2px;
				#geekcoding > .font-position(@line-height: 25px);
			}
			i{
				float: right;
				color: @base-color - #111;
				margin-right: 2px;
				#geekcoding > .font-position(@line-height: 28px);
			}
			.small{
				#geekcoding > .font-style(@color: @base-color - #111);
				#geekcoding > .font-size(@size:@font-size-base - 6px);
				#geekcoding > .font-position(@line-height: 26px);
			}
			.strong{
				#geekcoding > .font-style(@color: @base-color - #444);
				#geekcoding > .font-size(@size:@font-size-small);
				@media (max-width: @screen-xs) {
			        display: none;
			    }
			    @media (max-width: @screen-sm) {
			        display: none;
			    }
			    @media (max-width: @screen-md) {
			        display: none;
			    }
			}
		}
	}
}
.lesson-container{
		.panel{
			border-radius: @panel-border-radius/1.5;
			> .panel-body{
				min-height: 30px;
			}
		}
		.lessoninfo{
		    > .panel-body{
				padding: 10px;
				> .info-show{
					> img{
						height: 80px;
						border-radius: @panel-border-radius/1.5;
						margin: 0;
						padding: 0;
						display: block;
					}
				}
		    }
	    }
		.lessoncate{
			> .panel-body{
				padding: 0;
			}
			.chapter-list{
				border-left: 1px solid #C9C9C9;
	            margin-left: 110px;
	            > .chapter-wrap{
	            	margin-left: -110px;
                    padding: 15px 0;
                    h5,h6{
					    font-weight: bold;
					    line-height: 20px;
					    text-rendering: optimizelegibility;
                    }
                    > .show-list{
	                    > h5{
	                    	overflow: hidden;
						    padding: 0 15px;
						    position: relative;
						    font-size: 14px;
						    &:first-child{
						    	margin-top: 0;
						    }
						    > span{
						    	float: left;
	                            position: relative;
	                            &[class="category-title"]{
	                            	background: linear-gradient(#A5ABAF, #8C9296) repeat scroll 0 0 transparent;
								    border-radius: 10px 10px 10px 10px;
								    color: #FFFFFF;
								    margin-top: 2px;
								    padding: 2px 25px 2px 10px;
								    text-shadow: 0 -1px 1px #666666;
	                            }
	                            &[class="category-number ng-binding"]{
	                            	background: none repeat scroll 0 0 #FFFFFF;
								    border: 4px solid #999FA2;
								    border-radius: 97em 97em 97em 97em;
								    color: #636B6F;
								    height: 28px;
								    line-height: 19px;
								    margin-left: -17px;
								    text-align: center;
								    width: 28px;
	                            }
	                            &[class="category-name ng-binding"]{
	                            	color: #636B6F;
								    display: block;
								    font-size: 14px;
								    left: 125px;
								    margin: 5px 0 0 10px;
								    overflow: hidden;
								    position: absolute;
								    right: 10px;
								    text-overflow: ellipsis;
								    text-transform: uppercase;
								    white-space: nowrap;
	                            }
						    }
	                    }
	                    > ul{
	                    	margin-bottom: 10px;
	                    	list-style: none outside none;
	                    	padding: 0;
	                    	> li{
	                    		border-bottom: 1px solid transparent;
							    border-top: 1px solid transparent;
							    cursor: pointer;
							    margin-top: 3px;
							    overflow: hidden;
							    padding: 5px 15px;
							    position: relative;
							    line-height: 20px;
							    > *{
							    	float: left;
							    }
							    > .chapter-number{
							    	color: #999999;
								    // font-size: @font-size-;
								    font-weight: bold;
								    padding-right: 5px;
								    text-align: right;
								    text-transform: uppercase;
								    width: 85px;
							    }
							    > .chapter-circle{
							    	background: none repeat scroll 0 0 #FFFFFF;
								    border: 2px solid #DDDDDD;
								    border-radius: 99em 99em 99em 99em;
								    height: 17px;
								    margin: 1px 0 0 1px;
								    width: 17px;
							    }
							    > h6{
							    	left: 130px;
								    margin: 0;
								    position: absolute;
								    right: 110px;
								    > a{
								    	color: #777777;
									    display: block;
									    font-size: @font-size-base;
									    font-weight: normal;
									    overflow: hidden;
									    text-overflow: ellipsis;
									    text-transform: none;
									    white-space: nowrap;
								    }
							    }
							    &:hover{
							    	background: none repeat scroll 0 0 #FFFFFF;
								    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
								    border-top: 1px solid rgba(0, 0, 0, 0.1);
								    *{
								    	color: #000;
								    	text-decoration: none;
								    }
							    }
	                    	}
	                    }
                    }
	            }
			}
		}
}
.chapter-container{
	top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: @zindex-modal + 10;
    overflow: hidden;
	background: url("../img/chapter-bg.png") repeat scroll 0 0 #222222;
	.chaptershow{
		&.off{
			.sidebar{
				.translate(100%,0);
			}
			.main{
				right: 40px;
			}
		}
		.main{
			bottom: 0;
		    left: 40px;
		    position: fixed;
		    right: 465px;
		    top: 0;
		    z-index: 1980;
		    .transition(right 0.3s cubic-bezier(1, 0, 0, 1) 0s);
		    > #video-wrapper{
		    	margin-top: 50px;
		    	min-height: 480px;
		    	max-height: 480px;
		    }
		}
		.sidebar{
			top: 0;
			right: 0;
			height: 100%;
			width: 425px;
			position: fixed;
			border-left: solid 1px #504F55;
			z-index: 1990;
			background-color: rgba(0,0,0,0.6);
			.transition-transform(0.3s cubic-bezier(1, 0, 0, 1) 0s);
		}
		.chapter-listin {
		    background: none repeat scroll 0 0 #232326;
		    border-color: #504F55;
		    border-radius: 3px 0 0 3px;
		    color: #666;
		    border-style: solid;
		    border-width: 1px 0 1px 1px;
		    display: block;
		    left: -40px;
		    overflow: hidden;
		    position: absolute;
		    top: 10px;
		    z-index: 2000;
		    background-color: rgba(0,0,0,0.6);
		    &:before{
		    	content: "";
			    float: left;
			    height: 13px;
			    margin: 6px 8px;
			    width: 9px;
		    }
		}
		.chapter-option{
			box-shadow: 3px 0 3px #151517 inset;
		    height: 100%;
		    padding: 10px;
		    position: relative;
			> .tab-body{
				height: 100%;
				width: 100%;
				background-color: #fff;
			}
		}
	}
}