aside[role='userhome']{
	width: 100%;
	background-color: #fff;
	box-shadow: #bbb 0px 1px 2px 0px;
	padding-bottom: 15px;
	> .userlabel{
		padding: @nav-link-padding;
		margin-bottom: 0;
		> .useravatar{
            margin: 0 auto;
            padding: 0;
            width: 100px;
            height: 100px;
            .border-radius(50px);
            border-image: none;
            box-shadow: rgba(70, 70, 70,0.3) 0px 0px 3px 1px;
            display: block;
		    > img{
		    	width: 100%;
		    	height: 100%;
		    	.border-radius(50px);
            	display: block;
		    	
		    }
		    &:hover{
		    	>img{
		    		#geekcoding > .rotateY(360deg);
				    .transition(all 0.5s linear 0s);
		    	}
		    }
		}
		> .useridentity{
			max-height: 60px;
			text-align: center;
            padding-top: 6px;
		    > span{
		    	float: none;
		    	font-size: @font-size-base * 1.2;
                font-weight: 600;
                font-family: 'Fauna One', serif;
		    }
		    > .label-list{
		    	margin-top: 5px;
			    &:last-child{
			    	margin-top: 6px;
			    }
		    }
		}
	}
	> .userinfo{
		margin-top: 20px;
		padding-bottom: 10px;
		text-align: center;
		margin-left: 0;
		width: 100%;
		border-bottom: solid 1px #d5d7db;
		> [class*="col-md-"]{
			padding-top: 0;
			.info-shows{
				margin-left: 12%;
				width: 76%;
			}
			.info-show{
				float: left;
				width: 33.333%;
				> a{
					color: #666;
					font-size: @font-size-small;
					font-family: "宋体",arial;
					font-weight: bold;
					display: block;
					width: 100%;
					&:hover{
						color: #21A557;
						text-decoration: none;
					}
					> span{
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	.nav-stacked{
		> li{
			&:first-child{
				margin-top: 10px;
			}
			> a{
				color: #111;
				padding: 8px 20px;
				display: block;
				font-weight: bold;
				font-family: tahoma, "宋体", arial, helvetica, sans-serif;
				border-radius:0;
                > span[class*='icon-']{
                	color: #666;
                	text-align: left;
                	font-size: @font-size-large;
                	float: left;
                	width: 25px;
                	padding-top: 2px;
                	margin-right: 5px;
                	display: block;
                }
			}
			> .driver{
				margin: 8px 20px;
			}
		}
		> li[class='active']{
			>a{
				font-weight: bold;
				color: @nav-pills-active-link-hover-color;
				> span[class*='icon-']{
					color: @nav-pills-active-link-hover-color;
				}
				// background-color: #3a3e4a;
			}
		}
	}
}
.member-panel{
	display: none;
}
.no-back{
	background: none;
	border: none;
	box-shadow: none;
	> .panel-body{
		padding: 0;
		box-shadow: none;
		border: none;
	}
}