{% extends 'SiteHomeBundle::layout.html.twig' %}
{% block main %}
<div class="container user-container" style="padding:15px 0;" ng-init="init()">
    <div class="user-loader"></div>
    {#<ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('site_user_template_center') }}">用户中心</a></li>
        <li><a href="#">讲师中心</a></li>
    </ul>#}
    <div ui-view></div>
</div>
{% endblock %}