{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div class="alert alert-danger">{{ error|trans }}!</div>
{% endif %}
<form id="login_form" class="login_form form-horizontal" novalidate action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group">
	    <div class="col-md-12">
			<div class="input-group">
			    <span class="input-group-addon"><i class="icon-user"></i></span>
			    <input class="form-control" type="text" id="username" name="_username" 
			    value="{{ last_username }}" required="required" placeholder="请输入您的用户名/邮箱" />
			</div>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-md-12">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-key"></i></span>
				<input class="form-control" type="password" id="password" name="_password" required="required"
				    placeholder="请输入您的密码" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-12">
		   <div class="checkbox pull-left">
		        <label>
		            <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on" />
		            记住我
		        </label>
		    </div>
		    <a class="form-link pull-right" href="#" title="">忘记密码,需找回?</a>
		</div>	
    </div>
	<div class="form-group">
	    <div class="col-md-12">
	        <input class="pull-left button button-small button-rounded button-flat-royal" type="submit" id="login_btn" name="login_btn" value="登录" />
	        <a class="to_registration form-link pull-right" href="{{ path('fos_user_registration_register') }}">创建你的GEEKER账户</a>
	    </div>
    </div>
</form>