@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/font-awesome/less/font-awesome.less";
@import "variables.less";
@import "mixins.less";
@import "typography.less";
@import "navbar.less";
@import "subnav.less";
@import "pagination.less";
@import "panel.less";
@import "buttons.less";
@import "app/welcome.less";
@import "app/footer.less";
@import "app/lessons.less";
@import "app/member.less";
@import "teacherhome.less";
@icon-font-path:  "../font/";
@FontAwesomePath: "../font";
@media (min-width: @screen-desktop) {
  .container {
    max-width: @container-desktop;
  }
}
html{
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 170px;
    padding-top: @navbar-height;
    background: url("../img/bg.png") repeat;
    -webkit-font-smoothing:antialiased;
}
#main {
    width: 100%;
}
.modal-fancybox {
    top: 15% !important;
}
.bar-loader{
    position: absolute;
    width: 160px;
    height: 24px;
    z-index: @zindex-modal + 10;
    .opacity(0.7);
    #geekcoding > .background-image-cover('../img/bar-loader.gif');
    display: none;
}
.circle-loader{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: @zindex-modal + 10;
    .opacity(0.7);
    #geekcoding > .background-image-cover('../img/circle-loader.gif');
    display: none;
}
#site-mask{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    #geekcoding > .background-color(#fff,60%);
    > .mask-in{
        position: absolute;
        width: 128px;
        height: 128px;
        top: 45%;
        left: 50%;
    }
}
#site-loader{
    position: absolute;
    margin-top: -64px;
    margin-left: -64px;
    .opacity(0.7);
    z-index: 9999;
}