        
			<div class="chapter-wrap" ng-switch-when="show">
			    <div class="show-list" ng-repeat="(cateindex,category) in lesson.categories">
			        <h5>
					    <span class="category-title">篇章</span>
					    <span class="category-number">{[{ $index + 1 }]}</span>
					    <span class="category-name">{[{category.name}]}</span>
				    </h5>
				    <ul>
				        <li ng-repeat="chapter in category.chapters">
				            <div class="chapter-number">课时 {[{ chapterindex(cateindex,$index) }]}:</div>
					        <div class="chapter-circle"></div>
					        <h6><a ui-sref="lesson.chapter({chapter: chapter.id})">{[{ chapter.name }]}</a></h6>
				        </li>
				    </ul>
			    </div>