{% extends 'SiteHomeBundle::layout.html.twig' %}
{% block main %}
    <div class="container user-container" style="padding:10px 0;">
        <div class="row animated fadeIn">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-3 col-sm-4 user-menu">
                    {{ render(controller('SiteMemberBundle:Public:menu')) }}
                </div>
                <div class="col-md-9 col-sm-12 user-main">
                    {% block mcontent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}