{% form_theme createform with 'SiteUserBundle:Form:fields2.html.twig' %}
{% if createerrors %}
<div class="alert alert-danger">
<ul>
{% for error in createerrors %}
    <li>{{ error.message }}!</li>
{% endfor %}
</ul>
</div>
{% endif %}
{{ form_start(createform,{'action':path('site_user_homepage'),'attr':{'id':'oauthcreate_form','class':'form-horizontal form-noadd','novalidate':''}}) }}
	{{form_row(createform.username)}}
	{{form_row(createform.email)}}
	{{form_row(createform.plainPassword)}}
	<div class="form-group">
        <div class="col-md-12">
	        {{form_row(createform.create,{'attr':{'class':'button button-rounded button-flat-primary pull-left'}})}}
	        <a class="form-link-import pull-right to_bindoauth" href="javascript:void(0);">绑定已有账户</a>
	    </div>
	</div>
{{ form_end(createform) }}