<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="createoauth-panel panel panel-default form-panel anim-panel">
      <div class="panel-body">
        <div class="col-md-12">
          {% include 'SiteUserBundle:Oauth:createuser_form.html.twig' with 
          { 'createform':create.form,'createerrors':create.errors } %}
        </div>
      </div>
    </div>
    <div class="bindoauth-panel panel panel-default form-panel anim-panel">
      <div class="panel-body">
        <div class="col-md-12">
          {% include 'SiteUserBundle:Oauth:binduser_form.html.twig' with 
          { 'bindform':bind.form,'binderrors':bind.errors } %}
        </div>
      </div>
    </div>
  </div>
</div>
