{% extends 'SiteHomeBundle::layout.html.twig' %}
{% block main %}
<div class="container" style="padding-top:10px;">
  {{ render(controller('SiteLessonBundle:Public:getSubTypes')) }}
	{% include 'SiteLessonBundle:Default:lessons.html.twig' %}
  {{ render(controller('SiteLessonBundle:Default:pagination',
      {'page':current_page,'page_count':page_count,'lesson_route':lesson_route,'index':lesson_index})) }}
</div>
{% endblock %}